:root {
  --clr-bg-avail1: #00bb25;
  --clr-bg-avail2: #028b1e;
  --clr-bg-raising1: #eaff00;
  --clr-bg-raising2: #bdb702;
  --clr-bg-raised1: #ff0000;
  --clr-bg-raised2: rgb(175, 0, 0);
  --clr-text: #232323;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.loading {
  font-size: large;
}

.icon {
  padding-top: 0.5rem;
}

@media (max-width: 600px) {
  .container {
    width: 90dvw;
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    width: 100%;
  }
}

.card {
  padding: 1em;
  width: auto;
  line-height: 0.5rem;
  background-image: linear-gradient(
    45deg,
    var(--clr-bg-avail1),
    var(--clr-bg-avail2)
  );
  box-shadow: 0px 0px 5px 3px #222;
  border-radius: 0.5rem;
}

.city {
  font-style: italic;
  font-size: small;
}

.raising {
  background-image: linear-gradient(
    45deg,
    var(--clr-bg-raising1),
    var(--clr-bg-raising2)
  );
  color: var(--clr-text);
}

.raised {
  background-image: linear-gradient(
    45deg,
    var(--clr-bg-raised1),
    var(--clr-bg-raised2)
  );
}
.bold {
  font-weight: bold;
}

.smol {
  font-size: larger;
}

.copyright {
  padding: 0.5rem;
  color: #676767;
  font-size: small;
}
